<h1>Editing lesson category</h1>

<%= render "form", lesson_category: @lesson_category %>

<br>

<div>
  <%= link_to "Show this lesson category", @lesson_category %> |
  <%= link_to "Back to lesson categories", lesson_categories_path %>
</div>
