<div id="<%= dom_id subscription %>">
  <p>
    <strong>User:</strong>
    <%= subscription.user.name %>
  </p>

  <% if subscription.started_at %>
    <p>
      <strong>Started at:</strong>
      <%= subscription.started_at %>
    </p>
  <% end %>

  <% if subscription.concluded_at %>
    <p>
      <strong>Concluded at:</strong>
      <%= subscription.concluded_at %>
    </p>
  <% end %>
</div>
