<div id="<%= dom_id achievement %>">
  <p>
    <strong>Concluded at:</strong>
    <%= achievement.concluded_at %>
  </p>

  <p>
    <strong>Lesson:</strong>
    <%= achievement.lesson_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= achievement.user_id %>
  </p>

</div>
