<header>
  <div class="px-3 py-2 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <i class="fs-4 bi bi-app" role="img" aria-label="Bootstrap"></i>
          <span class="fs-4 ms-2">
            Driving School Checklist
          </span>
        </a>
        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small text-center">
          <li>
            <%= link_to achievements_path , class: "nav-link text-white" do %>
              <i class="bi bi-bookmark-check fs-4 d-block mx-auto mb-1"></i>
              Achievements
            <% end %>
          </li>
          <li>
            <%= link_to subscriptions_path , class: "nav-link text-white" do %>
              <i class="bi bi-book fs-4 d-block mx-auto mb-1"></i>
              Subscriptions
            <% end %>
          </li>
          <li>
            <%= link_to lessons_path , class: "nav-link text-white" do %>
              <i class="bi bi-book fs-4 d-block mx-auto mb-1"></i>
              Lessons
            <% end %>
          </li>
          <li>
            <%= link_to lesson_categories_path , class: "nav-link text-white" do %>
              <i class="bi bi-journal-bookmark fs-4 d-block mx-auto mb-1"></i>
              Lesson Categories
            <% end %>
          </li>
          <!--
          <li>
            <a href="#" class="nav-link text-secondary">
              <i class="bi bi-speedometer2 fs-4 d-block mx-auto mb-1"></i>
              Home
            </a>
          </li>
          -->
        </ul>
      </div>
    </div>
  </div>
</header>