<header>
  <div class="px-3 py-2 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <i class="fs-4 bi bi-app" role="img" aria-label="Bootstrap"></i>
          <span class="fs-4 ms-2">
            Driving School Checklist
          </span>
        </a>
      </div>
    </div>
  </div>
</header>